@import './_partials/util';

aside {
    width: 10%;
    height: 100%;

    &>nav {
        height: 100%;
    
        &>a {
            width: 95%;
    
            &>img {
                background-color: darkgrey;
                width: 100%;
            }
        }
    }
    
}


body {
    background-image: url("../../images/Space_night_sky.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 98vh;
    &>div {
        @include size(100%,100%)
    }
}



.window {
    display: none;
    position:relative;
    top:25px;
    left:20px;
}

.window-buttons {
    &>img {
        @include size(1.375rem, 1.375rem);
    }
}   